/* ============================================================
linesandwaves Resume CSS - Print
============================================================ */

/* ------------------------------------------------------------
+General
------------------------------------------------------------ */
body {font-size: 12px;}
.pdf {visibility: hidden;}
a {color: #333;}